@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

:root {
  --color-bg-body: #2a2a2a;
  --color-bg-container: #343a40;
  --color-text-p: #bfbfbf;
  --color-bg-header: #212529;
  --color-text-input: #212529;
  --color-bg-button: #6c757d;
  --color-text-header: #fffdfd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: Alata, Helvetica, sans-serif;
  background-color: var(--color-bg-body);
  color: var(--color-text-p);
}
#body {
  display: flex;
  justify-content: space-between;
  max-width: 1152px;
  margin: 0 auto;
  padding: 50px 0;
}
.container {
  background: var(--color-bg-container);
  border-radius: 2px;
  box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.1);
}
.header {
  padding: 15px;
  background: var(--color-bg-header);
  color: var(--color-text-header);
  text-align: center;
  box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.2);
}
svg {
  padding: 5px;
  width: 40px;
  background-color: var(--color-text-p);
  border-radius: 5px 0 0 5px;
}
section,
form {
  width: 49%;
  margin: 0 auto;
}
.update {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.update svg {
  width: 30px;
  margin-right: 5px;
  fill: var(--color-text-header);
  background: transparent;
}

p {
  padding: 20px 10px;
  line-height: 20px;
}
form {
  display: flex;
  flex-direction: column;
}
form .header {
  margin-bottom: 20px;
}

.container-input {
  display: flex;
  margin: 10px 20px;
}
.container-input svg {
  padding: 10px;
}
label,
input,
button {
  font-size: 16px;
}
label {
  margin-left: 20px;
}

input,
button {
  padding: 10px;
  font-family: Alata, Helvetica, sans-serif;
  border: none;
}

input {
  width: 100%;
  color: var(--color-text-input);
  border-radius: 0 3px 3px 0;
}
input:focus {
  border: none;
  outline: 1px solid var(--color-bg-header);
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin: 10px 20px;
  background: var(--color-bg-button);
  color: var(--color-text-header);
  transition: 0.3s;
  border-radius: 3px;
}
form button:hover {
  background-color: rgb(81, 88, 94);
  cursor: pointer;
}
form button svg {
  width: 30px;
  margin-right: 5px;
  background-color: transparent;
  fill: var(--color-text-header);
}

@media (max-width: 600px) {
  #body {
    flex-direction: column;
  }
  form,
  section {
    width: 100%;
  }
}
